*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  overflow: hidden;
}
.row{
  max-width: 1140px;
  margin: 0 auto;
}
.heading h1 {
    font-size: 35px;
    font-family: Garamond;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 12px;
}
.subheading h3 {
    font-size: 25px;
    font-size: ;
    font-family: Garamond;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 7px;
}
.Model_head {
    margin-top: 46px;
}
.subheading p {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    top: 10px;
    line-height: 38px;
}
.Model_woman {
    margin-top: 30px;
}
img {
    width: 364px;
    height: 522px;
    transition: 1s;
}
img:hover{
  transform: scale(1.1);
}
.img11 {
    padding-left: 215px;
}
.img33 {
    padding-left: 215px;
    margin-top: -27px;
}

.img44{
  margin-top: -27px;
}
.name_model h1 {
    font-size: 35px;
    font-family: Cormorant Garamond;
    font-weight: 150;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
}

.deatis {
    margin-top: 74px;
}
.name_model p {
    font-size: 15px;
    text-align: center;
    line-height: 27px;
}
span::after{
  content: "";
  display: block;
  height: 3px;
  background: #ddd;
  width: 740px;
}
.endsection {
    margin-top: 30px;
    text-align: center;
}
.endsection p {
    font-size: 14px;
    font-family: Garamond;
    text-transform: uppercase;
    margin-bottom: 2px solid black;
}
.endsection p {
    line-height: 2.5;
}
.but {
    text-align: center;
    padding-left: 200px;
}
.link-icon {
    display: none;
    height: 30px;
    width: 30px;
    margin-left: 167px;
    margin-top: -272px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;

}
.link-icon:hover{
  display: block;
  position: absolute;
}
